.btn {
    padding: 20px;
    border-radius: 10px;
}

.btn:hover{
    filter: brightness(85%);
}

.primary{
    background-color: yellow;
}

.danger{
    background-color: orange;
}

.success{
    background-color: green;
}