.box {
  height: 100vh;
  display: flex;
  gap: 10px;
  justify-content: center;
  align-items: center;
}

.common-btn {
  margin: 10px;
  background-color: transparent;
  border: 1px solid red;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer; 
}

.common-btn:hover {
  background-color: red;
  color: white;
  transition: .5s
}