.SubBox{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: aqua;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 10px 10px 10px gold;
}

.SubBox:hover{
    transform: translateY(-10px);
}
